@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

* {
	box-sizing:  border-box;
}

body {
	font-family: 'Press Start 2P';
	margin:  0;
	text-align: center;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
	background-color: #006E7F;
	color: #fff;
}

.insects_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.insects_list li {
	margin: 10px;
}

.choose_insect_btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	font-family: 'Press Start 2P';
	width: 150px;
	height: 150px;
}

.choose_insect_btn:hover {
	background-color: white;
	color: black;
	transform: scale(1.2);
}

.choose_insect_btn img {
	width: 100px;
	transition: transform .5s ease 0s;
}

.choose_insect_btn img:hover {
	transform: rotate(-30deg);
}

.screen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	transition: margin 0.75s linear;
}

.screen.up {
	margin-top: -100vh;
}

.btn {
	background-color: #fff;
	border: 0;
	color: #006E7F;
	padding: 15px 20px;
	font-family: 'Press Start 2P';
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}

.sub_srcsm {
	font-size: 7px;
	right: 55px;
	position: relative;
}

.game_container {
	position: relative;
}

#time, #score {
	position:absolute;
	top: 20px;
}

#time {
	left: 20px;
}

#score {
	right: 20px;
}
.insect {
	position: absolute;
	transform: translate(-50%, -50%) scale(1);
	cursor: pointer;
	transition: transform 0.3s ease-out;
}

.insect img {
	object-fit: contain;
	height: 111px;
	width: 111px;
}

#annoying_message {
	transition: transform 1.4s ease-in;
	transform: translate(-50%, -150%);
	opacity: 0;
	text-align: center;
	height: 95vh;
}


#annoying_message.visible {
	transform: translate(-50%, 100%);
	opacity: 1;
}

.insect.catch {
	transform: translate(-50%,-50%) scale(0);
}

