@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
	box-sizing:  border-box;
	text-align:  center;
}

body {
	background-image:  url('./img.jpg');
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  'Poppins', sans-serif;
	min-height:  100vh;
	margin:  0;
}

h1 {
	font-size: 4rem;
	font-weight: normal;
	margin-top: 5rem;
	text-shadow: 1px 1px 5px white, 0 0 1em white, 0 0 0.2em white;
}

.countdown-container {
	display:  flex;
}

.big-text {
	font-weight:  bold;
	font-size: 6rem;
	line-height: 1;
	margin: 0 2rem;
	text-shadow: 1px 1px 5px white, 0 0 1em white, 0 0 0.2em white;
}


.countdown-el {
	font-size:  6.5rem;
}

.countdown-el span {
	text-align: center;
	font-weight: bold;
}